PWS/HWs/HW3/JobServiceCompanyUDDI/web/WEB-INF/wsdl/localhost_11983/JobServiceCompany/RecruiterCompanyService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://recruitercompany/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://recruitercompany/">

<xs:element name="findJobs" type="tns:findJobs" />

<xs:element name="findJobsResponse" type="tns:findJobsResponse" />

<xs:complexType name="findJobs">
<xs:sequence>
<xs:element name="arg0" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findJobsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>