trunk/PWS/HWs/Project/BookStore2/src/conf/wsdl/ShipmentServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<definitions targetNamespace="http://shipment/" name="ShipmentServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://shipment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://shipment/" schemaLocation="ShipmentServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="orderShipment">
    <part name="parameters" element="tns:orderShipment"/>
  </message>
  <message name="orderShipmentResponse">
    <part name="parameters" element="tns:orderShipmentResponse"/>
  </message>
  <message name="cancelShipment">
    <part name="parameters" element="tns:cancelShipment"/>
  </message>
  <message name="cancelShipmentResponse">
    <part name="parameters" element="tns:cancelShipmentResponse"/>
  </message>
  <message name="shipmentDone">
    <part name="parameters" element="tns:shipmentDone"/>
  </message>
  <message name="shipmentDoneResponse">
    <part name="parameters" element="tns:shipmentDoneResponse"/>
  </message>
  <portType name="ShipmentService">
    <operation name="orderShipment">
      <input message="tns:orderShipment"/>
      <output message="tns:orderShipmentResponse"/>
    </operation>
    <operation name="cancelShipment">
      <input message="tns:cancelShipment"/>
      <output message="tns:cancelShipmentResponse"/>
    </operation>
    <operation name="shipmentDone">
      <input message="tns:shipmentDone"/>
      <output message="tns:shipmentDoneResponse"/>
    </operation>
  </portType>
  <binding name="ShipmentServicePortBinding" type="tns:ShipmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="orderShipment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelShipment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="shipmentDone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ShipmentServiceService">
    <port name="ShipmentServicePort" binding="tns:ShipmentServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

