PWS/HWs/Project/BookStoreComposite2/src/jbiServiceUnits/META-INF/BookStoreBPEL2/src/_references/_projects/BookStore2/src/conf/wsdl/AuthorizationWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://authorization/" xmlns:tns="http://authorization/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="login" nillable="true" type="tns:login"/>

  <xs:element name="loginResponse" nillable="true" type="tns:loginResponse"/>

  <xs:complexType name="login">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:userDataBean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userDataBean">
    <xs:sequence>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

