PWS/HWs/Project/BookStoreComposite2/src/jbiServiceUnits/META-INF/BookStoreBPEL2/src/_references/_projects/BookStore2/src/conf/wsdl/PublisherUSAWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. -->
<definitions targetNamespace="http://bookpublisherUSA/" name="PublisherUSAWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://bookpublisherUSA/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://bookpublisherUSA/" schemaLocation="PublisherUSAWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findBooks">
    <part name="parameters" element="tns:findBooks"/>
  </message>
  <message name="findBooksResponse">
    <part name="parameters" element="tns:findBooksResponse"/>
  </message>
  <message name="sellBook">
    <part name="parameters" element="tns:sellBook"/>
  </message>
  <message name="sellBookResponse">
    <part name="parameters" element="tns:sellBookResponse"/>
  </message>
  <message name="purchaseCancel">
    <part name="parameters" element="tns:purchaseCancel"/>
  </message>
  <message name="purchaseCancelResponse">
    <part name="parameters" element="tns:purchaseCancelResponse"/>
  </message>
  <message name="orderBookPurchase">
    <part name="parameters" element="tns:orderBookPurchase"/>
  </message>
  <message name="orderBookPurchaseResponse">
    <part name="parameters" element="tns:orderBookPurchaseResponse"/>
  </message>
  <message name="bookOrderDone">
    <part name="parameters" element="tns:bookOrderDone"/>
  </message>
  <message name="bookOrderDoneResponse">
    <part name="parameters" element="tns:bookOrderDoneResponse"/>
  </message>
  <portType name="PublisherUSAWS">
    <operation name="findBooks">
      <input message="tns:findBooks"/>
      <output message="tns:findBooksResponse"/>
    </operation>
    <operation name="sellBook">
      <input message="tns:sellBook"/>
      <output message="tns:sellBookResponse"/>
    </operation>
    <operation name="purchaseCancel">
      <input message="tns:purchaseCancel"/>
      <output message="tns:purchaseCancelResponse"/>
    </operation>
    <operation name="orderBookPurchase">
      <input message="tns:orderBookPurchase"/>
      <output message="tns:orderBookPurchaseResponse"/>
    </operation>
    <operation name="bookOrderDone">
      <input message="tns:bookOrderDone"/>
      <output message="tns:bookOrderDoneResponse"/>
    </operation>
  </portType>
  <binding name="PublisherUSAWSPortBinding" type="tns:PublisherUSAWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="findBooks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sellBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="purchaseCancel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="orderBookPurchase">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookOrderDone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PublisherUSAWSService">
    <port name="PublisherUSAWSPort" binding="tns:PublisherUSAWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

