trunk/PWS/HWs/Project/BookStoreBPEL2/src/ClientComposite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ClientComposite" targetNamespace="http://j2ee.netbeans.org/wsdl/BookStoreBPEL2/ClientComposite"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/BookStoreBPEL2/ClientComposite" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types/>
    <message name="ClientCompositeOperationRequest">
        <part name="username" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="bookSearchTerm" type="xsd:string"/>
        <part name="creditCardNumber" type="xsd:string"/>
    </message>
    <message name="ClientCompositeOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="NoBooksFoundFault">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="NoResponseFromPublisherFault">
        <part name="message" type="xsd:string"/>
    </message>
    <message name="NoShipmentResponseFault">
        <part name="message" type="xsd:string"/>
    </message>
    <portType name="ClientCompositePortType">
        <operation name="ClientCompositeOperation">
            <input name="input1" message="tns:ClientCompositeOperationRequest"/>
            <output name="output1" message="tns:ClientCompositeOperationResponse"/>
            <fault name="NoBooksFound" message="tns:NoBooksFoundFault"/>
            <fault name="NoPublisherResponse" message="tns:NoResponseFromPublisherFault"/>
            <fault name="NoShipmentResponse" message="tns:NoShipmentResponseFault"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ClientComposite">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ClientCompositePortTypeRole" portType="tns:ClientCompositePortType"/>
    </plnk:partnerLinkType>
</definitions>





