trunk/PWS/HWs/HW2/JobServiceCompany/web/WEB-INF/wsdl/localhost_11983/JobServiceCompany/universityWSService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://university/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://university/">

<xs:element name="getDegree" type="tns:getDegree" />

<xs:element name="getDegreeResponse" type="tns:getDegreeResponse" />

<xs:complexType name="getDegree">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDegreeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>