PWS/HWs/Project/BookStoreComposite2/src/jbiasa/BookStoreComposite2.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="BookStoreComposite2"
             xmlns:tns="BookStoreComposite2" xmlns:ns="http://j2ee.netbeans.org/wsdl/BookStoreBPEL2/ClientComposite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://authorization/" xmlns:ns2="http://bookpublisher/" xmlns:ns3="http://bookpublishercallback/" xmlns:ns4="http://bookpublisherUSA/" xmlns:ns5="http://bookpublisherUSAcallback/">
    <import namespace="http://j2ee.netbeans.org/wsdl/BookStoreBPEL2/ClientComposite" location="../jbiServiceUnits/BookStoreBPEL2/ClientComposite.wsdl"/>
    <import namespace="http://authorization/" location="../jbiServiceUnits/META-INF/BookStoreBPEL2/src/_references/_projects/BookStore2/src/conf/wsdl/AuthorizationWSService.wsdl"/>
    <import namespace="http://bookpublisher/" location="../jbiServiceUnits/META-INF/BookStoreBPEL2/src/_references/_projects/BookStore2/src/conf/wsdl/PublisherWSService.wsdl"/>
    <import namespace="http://bookpublishercallback/" location="../jbiServiceUnits/BookStoreBPEL2/PublisherWSCallBackService.wsdl"/>
    <import namespace="http://bookpublisherUSA/" location="../jbiServiceUnits/META-INF/BookStoreBPEL2/src/_references/_projects/BookStore2/src/conf/wsdl/PublisherUSAWSService.wsdl"/>
    <import namespace="http://bookpublisherUSAcallback/" location="../jbiServiceUnits/BookStoreBPEL2/PublisherUSAWSCallBackService.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding2" type="ns1:AuthorizationWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="login">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns2:PublisherWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="findBooks">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sellBook">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="purchaseCancel">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="orderBookPurchase">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookOrderDone">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns3:PublisherWSCallBack">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="bookOrderDone">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns4:PublisherUSAWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="findBooks">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sellBook">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="purchaseCancel">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="orderBookPurchase">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookOrderDone">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns5:PublisherUSAWSCallBack">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="bookOrderDone">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns:ClientCompositePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ClientCompositeOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="BookStoreComposite2"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="BookStoreComposite2"/>
            </output>
            <fault name="NoBooksFound">
                <soap:fault name="NoBooksFound" use="literal" namespace="BookStoreComposite2"/>
            </fault>
            <fault name="NoPublisherResponse">
                <soap:fault name="NoPublisherResponse" use="literal" namespace="BookStoreComposite2"/>
            </fault>
        </operation>
    </binding>
    <service name="BookStoreComposite2Service2">
        <port name="Authorization" binding="tns:casaBinding2">
            <soap:address location="http://localhost:11983/BookStore2/AuthorizationWSService"/>
        </port>
    </service>
    <service name="BookStoreComposite2Service3">
        <port name="casaPort2" binding="tns:casaBinding3">
            <soap:address location="http://localhost:11983/BookStore2/PublisherWSService"/>
        </port>
    </service>
    <service name="BookStoreComposite2Service4">
        <port name="casaPort3" binding="tns:casaBinding4">
            <soap:address location="http://localhost:11985/BookStoreComposite2Service4/casaPort3"/>
        </port>
    </service>
    <service name="BookStoreComposite2Service5">
        <port name="casaPort4" binding="tns:casaBinding5">
            <soap:address location="http://localhost:11983/BookStore2/PublisherUSAWSService"/>
        </port>
    </service>
    <service name="BookStoreComposite2Service6">
        <port name="casaPort5" binding="tns:casaBinding6">
            <soap:address location="http://localhost:11986/BookStoreComposite2Service6/casaPort5"/>
        </port>
    </service>
    <service name="BookStoreComposite2Service7">
        <port name="casaPort6" binding="tns:casaBinding7">
            <soap:address location="http://localhost:11893/BookStoreCompositeService1/casaPort1"/>
        </port>
    </service>
</definitions>



